<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <footer class="bg-[#1E212C] py-[80px] text-[#fff]">
        <div class="container">
            <div class="flex items-start justify-between mb-[50px]">
                <div class="flex flex-col gap-[24px] max-w-[470px]">
                    <div class="flex items-center gap-[60px]">
                        <img src="../img/shukur/logo2.png" alt="">
                        <img src="../img/shukur/socials.png" alt="">
                    </div>
                    <p class="text-[#ffffff80] text-[14px]">
                        Createx Construction Bureau has been successfully operating in the USA construction market since
                        2000. We are proud to offer you quality construction and exemplary service. Our mission is to
                        set the highest standards for construction sphere.
                    </p>
                </div>
                <div class="flex flex-col max-w-[500px]">
                    <h3 class="text-[24px] mb-[24px]">Let’s stay in touch</h3>
                    <div class="flex mb-[16px]">
                        <input
                            class="text-[14px] w-[100%] px-[16px] rounded-l-[4px] py-[12px] border-1 placeholder:text-[#9A9CA5] border-[#FFFFFF33] bg-[#FFFFFF1F]"
                            placeholder="Your email address " type="text">
                        <button class="py-[14px] px-[40px] bg-[#FF5A30] rounded-r-[4px]">subscribe</button>
                    </div>
                    <p class="text-[#ffffff80]">
                        *Subscribe to our newsletter to receive communications and early updates from Createx
                        Construction Bureau.
                    </p>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex flex-col gap-[5px]">
                    <h3 class="text-[16px] mb-[7px]">HEAD OFFICE</h3>
                    <p class="text-[#ffffff80]">
                        <span class="text-[#fff] font-bold">Address:</span>
                        8502 Preston Rd. Inglewood, New York
                    </p>
                    <p class="text-[#ffffff80]">
                        <span class="text-[#fff] font-bold">Call:</span>
                        (405) 555-0128
                    </p>
                    <p class="text-[#ffffff80]">
                        <span class="text-[#fff] font-bold">Email:</span>
                        hello@createx.com
                    </p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <h3 class="text-[16px] mb-[7px]">WHO WE ARE</h3>
                    <a href="#" class="text-[#ffffff80]">About Us</a>
                    <a href="#" class="text-[#ffffff80]">Available Positions</a>
                    <a href="#" class="text-[#ffffff80]">Contacts</a>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <h3 class="text-[16px] mb-[7px]">OUR EXPERIENCE</h3>
                    <a href="#" class="text-[#ffffff80]">Services</a>
                    <a href="#" class="text-[#ffffff80]">Work</a>
                    <a href="#" class="text-[#ffffff80]">News</a>
                </div>
                <div class=" w-[250px]">

                </div>
            </div>
            <div class="flex items-center justify-between mt-[50px]">
                <p class="flex items-baseline gap-[5px]">
                    © All rights reserved. Made with
                    <span><img src="../img/shukur/heart.png" alt=""></span>
                    by Createx Studio
                </p>
                <div class="flex items-end gap-[16px]">
                    <p>GO TO TOP</p>
                    <button class="bg-[#FF5A30] p-[16px] rounded-[4px]">
                        <img src="../img/shukur/arrow-up.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>