<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <header class="py-[20px]">
        <div class="container flex items-center justify-between">
            <nav class="font-bold text-[#424551] text-[16px] flex items-center gap-[60px]">
                <div>
                    <a href="../../index.html">
                        <img src="../img/shukur/logo.png" alt="">
                    </a>
                </div>
                <div class="flex items-center gap-[40px]">
                    <a href="#">About Us</a>
                    <a class="active" href="#">Services</a>
                    <a href="#">Work</a>
                    <a href="#">News</a>
                    <a href="#">Contacts</a>
                </div>
            </nav>
            <div class="text-[#424551] flex items-center gap-[36px]">
                <div class="flex items-center gap-[10px]">
                    <img src="../img/shukur/phone.png" alt="">
                    <div class="flex flex-col ">
                        <p class="font-bold text-[14px]">Call us</p>
                        <p class="text-[#1E212C] text-[18px]">(405) 555-0128</p>
                    </div>
                </div>
                <div class="flex items-center gap-[10px]">
                    <img src="../img/shukur/chat.png" alt="">
                    <div class="flex flex-col ">
                        <p class="font-bold text-[14px]">Talk to us</p>
                        <p class="text-[#1E212C] text-[18px]">hello@createx.com</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>