<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <section class="bg-[#1E212C] py-[80px] text-[#FFFFFF]">
        <div class="container">
            <div class="flex flex-col gap-[24px] items-center">
                <h2 class="text-[46px] text-[#FFFFFF]">
                    Our benefits
                </h2>
                <p class="text-[#ffffff74]">Our mission is to set the highest standards for construction sphere.</p>
            </div>
            <div class="flex justify-between gap-[70px] py-[60px]">
                <div class="flex flex-col gap-[8px] items-center text-center ">
                    <img class="mb-[16px]" src="../img/shukur/benefit1.svg" alt="">
                    <h3 class="text-[20px]">Fixed Terms & Cost</h3>
                    <p class="text-[#ffffffa0]">
                        Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                    </p>
                </div>
                <img src="../img/shukur/divider.png" alt="">
                <div class="flex flex-col gap-[8px] items-center text-center">
                    <img class="mb-[16px]" src="../img/shukur/benefit1.svg" alt="">
                    <h3 class="text-[20px]">Qualified Workers</h3>
                    <p class="text-[#ffffffa0]">
                        Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est
                        ea.
                    </p>
                </div>
                <img src="../img/shukur/divider.png" alt="">
                <div class="flex flex-col gap-[8px] items-center text-center">
                    <img class="mb-[16px]" src="../img/shukur/benefit1.svg" alt="">
                    <h3 class="text-[20px]">Supervision & Control</h3>
                    <p class="text-[#ffffffa0] text-center">
                        Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea
                        ad.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>