<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../output.css">
</head>

<body>
    <section class="bg-[url('./img/shukur/quick_form.png')] bg-center bg-cover h-[100vh] bg-no-repeat">
        <div class="container flex justify-end items-center min-h-[100%]">
            <form class="border-1 border-[#E5E8ED] bg-[#FFFFFF] shadow-[5px_5px_10px_#1E212C0D] p-[35px] flex flex-col gap-[20px] max-w-[480px] items-center">
                <h3 class="text-[#1E212C] text-[28px]">A quick way to discuss details</h3>
                <div class="flex flex-col gap-[5px] w-[100%]">
                    <label class="text-[#424551] text-[14px]">Name*</label>
                    <input class="text-[14px] w-[100%] px-[16px] py-[12px] border-1 placeholder:text-[#9A9CA5] border-[#D7DADD] bg-[#F4F5F6] rounded-[4px]" placeholder="Your name" type="text">
                </div>
                <div class="flex flex-col gap-[5px] w-[100%]">
                    <label class="text-[#424551] text-[14px]">Phone*</label>
                    <input class="text-[14px] w-[100%] px-[16px] py-[12px] border-1 placeholder:text-[#9A9CA5] border-[#D7DADD] bg-[#F4F5F6] rounded-[4px]" placeholder="Your phone number" type="text">
                </div>
                <div class="flex flex-col gap-[5px] w-[100%]">
                    <label class="text-[#424551] text-[14px]">Email</label>
                    <input class="text-[14px] w-[100%] px-[16px] py-[12px] border-1 placeholder:text-[#9A9CA5] border-[#D7DADD] bg-[#F4F5F6] rounded-[4px]" placeholder="Your working email" type="text">
                </div>
                <div class="flex flex-col gap-[5px] w-[100%]">
                    <label class="text-[#424551] text-[14px]">Message*</label>
                    <input class="text-[14px] w-[100%] px-[16px] py-[12px] border-1 placeholder:text-[#9A9CA5] border-[#D7DADD] bg-[#F4F5F6] rounded-[4px]" placeholder="Your message" type="text">
                </div>
                <div class="flex items-baseline gap-[12px]">
                    <input checked type="checkbox">
                    <p class="text-[14px] text-[#424551]">I agree to receive communications from Createx Construction Bureau.</p>
                </div>
                <button class="btn">send request</button>
            </form>
        </div>
    </section>
</body>

</html>